@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
.contenedor-h2{
    height: 50px;
    text-align: center;
    margin: 0 auto;

}

.ofertas-h2{
    line-height: 50px;
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: oferta;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;  
    color: $ColorFondo;

}

.section-ofertas{
    text-align: center;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
    
}
.article-ofertas{
    @include medidas(40%, 200px);
    box-shadow: 0 0 3px #aaa;
    margin-top: 25px;
    margin-bottom: 50px;
    img{
        @include medidas(100%,200px);
        object-fit: contain;
    }

    p{
        color: $BlacoGenerico;
        background-color: $ColorFondo;
        text-transform: uppercase;


    }
}


@keyframes oferta{

    50%{
        font-size: 50px;
        
    }

    100%{
        font-size: 25px;
        
    }
}


