@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.section-ofertas{
    text-align: center;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    h2{
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        border-bottom: 2px solid $GrisFooter;
        font-weight: 900;
    }
}
.article-ofertas{
    @include medidas(80%, 175px);
    border-radius: 2px;
    box-shadow: 0px 0px 2px $GrisFooter;
    margin-top: 25px;
    margin-bottom: 50px;
    img{
        @include medidas(100%,150px);
        object-fit: cover;
    }

    p{
        color: $BlacoGenerico;
        background-color: $GrisFooter;
    }
}



