.grid-productos{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
}
.section-productos{
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);   

}

.menu-lateral{
    a{
        color: #343a40;
        font-size: 20px;

    }
}

@media (max-width: 1140px){
    

    .grid-productos{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .menu-lateral {

        li{
            display: inline;
            grid-column: 1/2;
        }
        

    }
   
}

@media (max-width: 943px){
    .section-productos{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media (max-width: 587px)
{
    .section-productos{
        grid-template-columns: 1fr;
        justify-content: center;
    }   

    .tarjetas-portada{
        width: 100%;
    }

    .grid-productos{
        width: 100%;
    }
}
.tarjetas-portada{

    text-align: center;
    width: 90%;
    height: 150px;
    box-shadow: 0 0 3px $GrisFooter;
    align-self: center;
    border-radius: 3px;
}

.img-portada{

    width: 100px;
    height: 100px;
    object-fit: cover;
}