@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//font-family: 'Inter', sans-serif;

$fuentePrincipal: 'Inter', sans-serif;
$BlacoGenerico: #FBFFFE;
$GrisFooter: #343a40;
$ColorFondo: #96031a;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

body{
    background-color: white;
}


.menu{
    display: flex;
    justify-content: space-between;
  
}

.nav-link:hover{
    text-decoration: underline;
    transition: all 0.3s;

}


.contenedor{
    gap: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    p{
        font-size: 25px;
    }
}

h1{
    font-family: fantasy;
    grid-column: 1/5;
    text-align: center;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px  $BlacoGenerico ;
    font-size: 5em;
    margin-top: 20%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    

}

@keyframes aparecer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

.img-central{
    @include medidas(100%, 100vh );
    grid-column: 1/5;
    background-image: url(../img/Fondo-Main1.jpg);

}

.parrafo-central{
    
    text-align: center;
    grid-column: 1/5;

    span{
        text-transform: uppercase;
        color: $ColorFondo;
    }
}

.cards{
    
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-column: 1/5;
    height: 250px;
    border-radius: 0;
    
}
.card{
    color: $GrisFooter;
    height: 250px;
    border-radius: 0;
    margin-top: 10px;
    box-shadow: 0 0 4px $GrisFooter;
    

}
.img-card{
    @include medidas(250px,250px );
}

.img-1{
    background-image: url(../img/colca-cola.png);
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url(../img/blockazo.png);
    background-size: cover;
    background-position: center;
}

.img-3{
    background-image: url(../img/heineken.png);
    background-size: cover;
    background-position: center;
}

.img-4{
    background-image: url(../img/Brahma-Sixpack-473ml.jpg);
    background-size: cover;
    background-position: center;
}

.footer{
    margin-top: 25px;
    color: $BlacoGenerico;
    background-color: $GrisFooter ;
    text-align: center;
    font-family: $fuentePrincipal;
    grid-column: 1/5;
    width: 100%;

}

.redes {

    a{
        font-size: 2em;
        color: $BlacoGenerico;
        letter-spacing: 50px;
        transition:  all 0.5s;
    }

    a:hover{
        color: $ColorFondo;
        transition: all 0.5s;
        
    }
    
}









@media (max-width: 1013px)
{
 .card4{
    width: 100%;
    
 }
 .img-4{
    align-self: center;
 }

 .card3{
    width: 100%;
    
 }
 .img-3{
    align-self: center;
 }

}


@media (max-width:759px)

{

    
    .card{
        text-align: center;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .img-card{
        align-self: center;
    }
}


@import "_ofertas";
@import "_productos";
@import "sobrenosotros";
@import "contacto";