@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav-link:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

.contenedor {
  gap: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.contenedor p {
  font-size: 25px;
}

h1 {
  font-family: fantasy;
  grid-column: 1/5;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #FBFFFE;
  font-size: 5em;
  margin-top: 20%;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-central {
  width: 100%;
  height: 100vh;
  grid-column: 1/5;
  background-image: url(../img/Fondo-Main1.jpg);
}

.parrafo-central {
  text-align: center;
  grid-column: 1/5;
}
.parrafo-central span {
  text-transform: uppercase;
  color: #96031a;
}

.cards {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-column: 1/5;
  height: 250px;
  border-radius: 0;
}

.card {
  color: #343a40;
  height: 250px;
  border-radius: 0;
  margin-top: 10px;
  box-shadow: 0 0 4px #343a40;
}

.img-card {
  width: 250px;
  height: 250px;
}

.img-1 {
  background-image: url(../img/colca-cola.png);
  background-size: cover;
  background-position: center;
}

.img-2 {
  background-image: url(../img/blockazo.png);
  background-size: cover;
  background-position: center;
}

.img-3 {
  background-image: url(../img/heineken.png);
  background-size: cover;
  background-position: center;
}

.img-4 {
  background-image: url(../img/Brahma-Sixpack-473ml.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  margin-top: 25px;
  color: #FBFFFE;
  background-color: #343a40;
  text-align: center;
  font-family: "Inter", sans-serif;
  grid-column: 1/5;
  width: 100%;
}

.redes a {
  font-size: 2em;
  color: #FBFFFE;
  letter-spacing: 50px;
  transition: all 0.5s;
}
.redes a:hover {
  color: #96031a;
  transition: all 0.5s;
}

@media (max-width: 1013px) {
  .card4 {
    width: 100%;
  }
  .img-4 {
    align-self: center;
  }
  .card3 {
    width: 100%;
  }
  .img-3 {
    align-self: center;
  }
}
@media (max-width: 759px) {
  .card {
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .img-card {
    align-self: center;
  }
}
.contenedor-h2 {
  height: 50px;
  text-align: center;
  margin: 0 auto;
}

.ofertas-h2 {
  line-height: 50px;
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  animation-name: oferta;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  color: #96031a;
}

.section-ofertas {
  text-align: center;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: center;
}

.article-ofertas {
  width: 40%;
  height: 200px;
  box-shadow: 0 0 3px #aaa;
  margin-top: 25px;
  margin-bottom: 50px;
}
.article-ofertas img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.article-ofertas p {
  color: #FBFFFE;
  background-color: #96031a;
  text-transform: uppercase;
}

@keyframes oferta {
  50% {
    font-size: 50px;
  }
  100% {
    font-size: 25px;
  }
}
.grid-productos {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 15% 85%;
}

.section-productos {
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-lateral h2 {
  font-family: "Inter", sans-serif;
}
.menu-lateral a {
  color: #343a40;
  font-size: 20px;
  font-size: "Inter", sans-serif;
}

@media (max-width: 1140px) {
  .grid-productos {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .menu-lateral li {
    display: inline;
    grid-column: 1/2;
  }
}
@media (max-width: 943px) {
  .section-productos {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 587px) {
  .section-productos {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .tarjetas-portada {
    width: 100%;
  }
  .grid-productos {
    width: 100%;
  }
}
.tarjetas-portada {
  width: 90%;
  height: 150px;
  box-shadow: 0 0 7px #343a40;
  text-align: center;
  align-self: center;
  background-color: #FBFFFE;
  transition: all 1s;
}
.tarjetas-portada P {
  text-transform: uppercase;
  font-size: 18px;
}

.tarjetas-portada:hover {
  scale: 1.05;
  transition: all 1s;
}

.img-portada {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-sobre-nosotros {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main-sobre-nosotros h2 {
  font-family: "Inter", sans-serif;
  color: #343a40;
  text-align: center;
  font-size: 2.5em;
}
.main-sobre-nosotros p {
  font-size: 2em;
  text-align: center;
}
.main-sobre-nosotros span {
  color: #96031a;
}
.main-sobre-nosotros iframe {
  width: 75%;
  margin-bottom: 20px;
}
.main-sobre-nosotros img {
  width: 75%;
}

.form-contacto {
  width: 500px;
  height: 650px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0px 0px 5px #343a40;
  margin-top: 15px;
  color: #FBFFFE;
  box-sizing: border-box;
  background-color: #96031a;
}

.h2-contacto {
  font-size: 2em;
  margin-top: 25px;
  text-align: center;
}

.input {
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: black;
  width: 75%;
}

.input:focus {
  outline: none;
  color: black;
}

.area {
  resize: none;
}

.input-button {
  margin-top: 25px;
  width: 75%;
  border-radius: 5px;
  background-color: #FBFFFE;
  color: #343a40;
}

@media (max-width: 500px) {
  .form-contacto {
    width: 100%;
  }
}/*# sourceMappingURL=estilos.css.map */